<div class="card">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <div class="labels">
                {% for label in project.labels %}
                    <i class="fab fa-{{ label }}"></i>
                {% endfor %}
            </div>
            <a href="?config={{ project.name }}" class="config">
                <i class="fas fa-cog fa-lg"></i>
            </a>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ project.name }}</h5>
        {% if project.entry != null %}
            <a href="{{ project.entry }}" class="btn btn-outline-primary"><i class="fas fa-anchor"></i> start</a>
        {% endif %}
        <a href="?project={{ project.name }}" class="btn btn-success">view</a>
    </div>
</div>