{% from _self import recursiveTreeLister %}
{% set page_name = name %}
{% set dir_data = dir_data %}

{% block navbar %}
    {% block navbarHeader %}
        <div id="resizable" class="navigation-bar">
        <div class="navigation-bar--header">
            <div class="root-directory-snippet">
                <div class="root-directory-snippet--text">~</div>
                <i class="fas fa-chevron-right"></i>
            </div>
            {% for snippet in navigation_root_snippet %}
                <div class="root-directory-snippet">
                    <div class="root-directory-snippet--text">{{ snippet }}</div>
                    <i class="fas fa-chevron-right"></i>
                </div>
            {% endfor %}
            {% if name %}
                <div class="root-directory-snippet">
                    <div class="root-directory-snippet--text highlight">{{ name }}</div>
                </div>
            {% endif %}
        </div>
        {% if name %}
            <div class="labels">
                <span class="badge bg-primary text-light"><i class="fas fa-file"></i> {{ dir_data.total_files }}</span>
                <span class="badge bg-secondary text-light"><i
                            class="fas fa-hdd"></i></i> {{ dir_data.total_size }} {{ dir_data.unit }}</span>
                {% if dir_data.isGitRepo %}
                    <span class="badge bg-dark text-light"><i class="fa-xl fa-brands fa-github"></i></span>
                {% endif %}
            </div>
        {% endif %}
        <hr>
        {% block searchbar %}
            <div class="navigation-bar--searchbar">
                <form class="searchbar" action="">
                    <fieldset class="field-container">
                        {% if name %}
                            <input id="searchbar"
                                   onkeyup="searchForItemInProject()"
                                   type="text" placeholder="Search..." class="field"/>
                        {% else %}
                            <input id="searchbar"
                                   onkeyup="searchForProject()"
                                   type="text" placeholder="Search..." class="field"/>
                        {% endif %}
                        <div class="icons-container">
                            <div class="icon-search"></div>
                            <div id="reset-searchbar" class="icon-close">
                                <div class="x-up"></div>
                                <div class="x-down"></div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <hr>
        {% endblock %}
    {% endblock %}
    {% block navbarContent %}
        <div class="navigation-bar--content">
            {% if name %}
                <a href="." class="btn btn-dark get-back-btn"><i class="fas fa-backspace"></i> Go Back</a>
                <div class="row">
                    <div class="col">
                        <div class="tree">
                            <ul>
                                <li class="tree-header"><i class="fa fa-folder-open"></i>
                                    <a onclick="toggleTreeContent()" id="tree-toggle"
                                       class="fa-solid fa-chevron-down"></a>
                                    <div>{{ name }}</div>
                                </li>
                                <ul id="tree-content">
                                    {% for key,file in content %}
                                        {% if file is iterable %}
                                            {{ recursiveTreeLister(key, file) }}
                                        {% else %}
                                            <li class="folder-or-file"><i class="fas fa-file"></i><a
                                                        class="folder-or-file--name"
                                                        href="{{ name }}/{{ file }}"> {{ file }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </ul>
                        </div>
                    </div>
                </div>
            {% else %}
                {% block navigationContent %}
                    {% for project in projects %}
                        <a href="?project={{ project.name }}" class="project-folder-item" onclick="selectProject()">
                            {% if project is iterable %}
                                <i class="fas fa-folder"></i>
                            {% else %}
                                <i class="fas fa-file"></i>
                            {% endif %}
                            <span class="project-folder-item--name">{{ project.name }}</span>
                        </a>
                    {% endfor %}
                {% endblock %}
            {% endif %}
        </div>
    {% endblock %}
    {% block navbarFooter %}
        <div class="navigation-bar--footer">
            <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C150.00,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                      style="stroke: none; fill: #457B9D;"></path>
            </svg>
            <div id="awave-version-tag">@awave {{ version }}</div>
        </div>
    {% endblock %}
    </div>
    {% macro recursiveTreeLister(filename, files) %}
        {% import _self as self %}
        {% set dir_count = dir_count + 1 %}
        <li class="folder-or-file"><i class="fa fa-folder"></i><a class="folder-or-file--name"
                                                                  href="{{ name }}/{{ file }}"> {{ filename }}</a></li>
        <ul>
            {% for key,file in files %}
                {% if file is iterable %}
                    {{ self.recursiveTreeLister(key,file) }}
                {% else %}
                    <li class="folder-or-file"><i class="fas fa-file"></i><a class="folder-or-file--name"
                                                                             href=""> {{ file }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endmacro %}
{% endblock %}

<script type="text/javascript">
    let tree_content = document.getElementById("tree-content");
    let tree_toggle = document.getElementById("tree-toggle");

    function toggleTreeContent() {
        if (tree_content.style.display === "none") {
            tree_content.style.display = "block";
            tree_toggle.classList.replace("fa-chevron-right", "fa-chevron-down");
        } else {
            tree_content.style.display = "none";
            tree_toggle.classList.replace("fa-chevron-down", "fa-chevron-right");
        }
    }

    let resetSearchbarIcon = document.getElementById("reset-searchbar");
    resetSearchbarIcon.addEventListener('click', () => {
        let input = document.getElementById('searchbar')
        input.value = ''
        location.reload();
    })

    function searchForProject() {
        let input = document.getElementById('searchbar').value
        input = input.toLowerCase();
        let x = document.getElementsByClassName('project-folder-item');

        for (i = 0; i < x.length; i++) {
            if (!x[i].getElementsByClassName('project-folder-item--name')[0].innerHTML.toLowerCase().includes(input)) {
                x[i].style.display = "none";
            } else {
                x[i].style.display = "block";
            }
        }
    }

    function searchForItemInProject() {
        let input = document.getElementById('searchbar').value
        input = input.toLowerCase();
        let x = document.getElementsByClassName('folder-or-file');

        for (i = 0; i < x.length; i++) {
            if (!x[i].getElementsByClassName('folder-or-file--name')[0].innerHTML.toLowerCase().includes(input)) {
                x[i].style.display = "none";
            } else {
                x[i].style.display = "block";
            }

        }
    }
</script>